p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
font-style:
normal;
font-variant:
normal;
text-transform:
none;
text-decoration:
none solid rgb(32, 33, 34);
text-align:
start;
text-indent:
0px;
line-height:
32px;
vertical-align:
baseline;
letter-spacing:
normal;
word-spacing:
0px;
	margin: 0px;
	margin-bottom: 36px;
}

.info-box {
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
}

h1 {
	font-family:"Linux Libertine", Georgia, Times, "Source Serif Pro", serif ;
	font-size: 48px;
	margin: 0px;
	margin-bottom: 8%;
	margin-top: 8%;
    font-weight: 300;
}

